{% extends "base.html.twig" %}

{% block body %}
    {% if notImported is defined %}
        <h1>The list {{ notImported }} was not imported because it's already present in the database.</h1>
    {% endif %}

    {% if count is defined %}
        <h1>The list {{ listTitle }} was imported successfully and it contains {{ count }} movies.</h1>
    {% endif %}
{% endblock %}